body {
  max-width: 1100px;
  margin: 0 auto;
}

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr; 
    align-items: center;  
    gap: 14px;
    padding-top: 77px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 92px;
    width: 100%;
  }
  
.header__links-list {
    display: flex;
    justify-content: space-between;
    list-style: circle;
    width: 391.48px;
    height: 22px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
    text-align: left;
  }

.header__links-list-item {
  }
  
.header__links-list-item_no-bullit {
    list-style: none;
    width: 67px;
    height: 21px;
    top: 133px;
    left: 50px;
}


.header__logo {
    width: 136px;
    height: 104.65px;
  }
  
.header__address {
  justify-self: end;
  width: 240px;
  height: 98px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  text-align: left;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.cover {
    position: relative;
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-size: cover;
    width: 1100px;
    height: 757px;
  }


.cover__title {
    position: relative;
    z-index: 2;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    color: white;
  }

.aligned-text {
  display: block;
  font-size: 100px;
  line-height: 253px;
  letter-spacing: 0.3em;
  text-align: left;

  }
  
.aligned-text-left {
  padding-left: 50px;
  padding-top: 98px;
}


.aligned-text_center {
  text-align: center;
  line-height: 0;
  letter-spacing: 0.3em;
  padding-left: 29px;
  padding-top: 10px;
  }

.aligned-text_right {
  text-align: right;
  padding-right: 20px;
  padding-top: 7px;
}


.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  word-spacing: 20px;
  line-height: 28px;
  font-size: 22px;
  margin-top: 50px;
  color: white;
}

.cover__description-text {
  padding-left: 50px;
}

.bet-button {
  background-color: transparent;
  font-size: 22px;
  margin-left: 100px;
  color: white;
  border: 1px solid white;
  text-transform: uppercase;
  padding: 13px 33px;
  position: relative;
  top: -13px;
  }

.lots__heading {
  width: 121px;
  height: 47px;
  font-size: 50px;
  padding-left: 64px;
  padding-top: 172px;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 74px 25px;
  gap: 24px;
}

.lots__card-list-item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__title {
  position: absolute;
  width: 254px;
  height: 82px;
  font-size: 22px;
  line-height: 26.4px;
  text-decoration-line: underline;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
  z-index: 1;
}

.card__text {
  position: absolute;
  width: 254px;
  font-family: Raleway;
  font-size: 20px;
  line-height: 24px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
  z-index: 1;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    width: 334px;
    height: 563px;
    position: relative;
    z-index: 2;
  }


  .card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    width: 334px;
    height: 563px;
    position: relative;
    z-index: 2;
  }

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    width: 334px;
    height: 563px;
    position: relative;
    z-index: 2;
  }

.lots__look-more-link {
    font-size: 20px;
    line-height: 24px;
    padding-left: 65px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
  
.about {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }

.about__column {
  display: flex;
  flex-direction: column;
}

.about__logo {
  flex: 0 0 auto; 
  width: 300px;
  height: 300px; 
  justify-content: center;
  align-items: center;
}

.about__logo-container {
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
}

.about__content {
  flex: 1; 
}

.about__title {
  font-size: 24px;
  margin: 0;
  padding-top: 150px;
  padding-bottom: 20px; 
}

.about__text {
  margin: 0;
}

.about__text--first {
  margin-bottom: 20px;
}

.footer {
  display: flex;
  padding-top: ;
}