.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr; 
    align-items: center;  
    gap: 14px;
    padding-top: 80px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 92px;
    width: 100%;
  }
  
.header__links-list {
    display: flex;
    justify-content: space-between;
    list-style: circle;
    width: 391.48px;
    height: 22px;
    top: 133px;
    left: 50px;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

.header__links-list-item {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  
.header__links-list-item_no-bullit {
    list-style: none;
    width: 67px;
    height: 21px;
    top: 133px;
    left: 50px;
    gap: 0px;
    opacity: 0px;
}


.header__logo {
    width: 129.11px;
    height: 104.65px;
    top: 1.16px;
    left: 9.03px;
  }
  
.header__address {
  justify-self: end;
  width: 240px;
  height: 98px;
  padding: 0px;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.overlay {
  position: relative;
}

.cover {
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    color: white;
    width: 1100px;
    height: 757px;
    top: 293px;
    gap: 0px;
    opacity: 0px;
  }


.cover__title {
    letter-spacing: 0.3em;
  }

.aligned-text {
  display: block;
  width: 286px;
  height: 115px;
  font-family: Raleway;
  font-size: 100px;
  font-weight: 700;
  line-height: 115px;
  letter-spacing: 0.3em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none; 
  }
  

.aligned-text_center {
    text-align: center;
    line-height: 1;
    width: 339px;
    height: 115px;
    font-family: Raleway;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 0.3em;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

.aligned-text_right {
    text-align: right;
}

  .letter-spacing-extended {
    letter-spacing: 0.6em;
  }

  .no-letter-spacing {
    letter-spacing: 0em;
  }

  .cover__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-spacing: 20px;
  }

.bet-button {
    background-color: transparent;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.lots {
    width: 1052px;
    height: 723px;
    top: 1230px;
    left: 24px;
    gap: 0px;
    opacity: 0px;
    padding-left: 24px;
    margin-top: 160px;
  }

.lots__heading {
    width: 121px;
    height: 47px;
    left: 40px;
    gap: 0px;
    opacity: 0px;
    color: #000;
  }

.lots__card-list {
    display: flex;
    column-gap: 20px;
  }

.card__title {
    width: 254px;
    height: 110px;
    top: 125px;
    left: 758px;
    gap: 0px;
    opacity: 0px;
    color: white;
  }

.card__text {
    width: 254px;
    height: 264px;
    top: 325px;
    left: 758px;
    gap: 0px;
    opacity: 0px;
    color: white;
  }

  .lots__look-more-link {
    width: 192px;
    height: 23px;
    top: 667px;
    left: 40px;
    gap: 0px;
    opacity: 0px;
  }

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    background-size: cover;
    background-position: center;
    width: 334px;
    height: 563px;
    top: 74px;
    gap: 0px;
    opacity: 0px;
  }

  .card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-size: cover;
    background-position: center;
    width: 334px;
    height: 563px;
    top: 74px;
    left: 359px;
    gap: 0px;
    opacity: 0px;
  }

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-size: cover;
    background-position: center;
    width: 334px;
    height: 563px;
    top: 74px;
    left: 718px;
    gap: 0px;
    opacity: 0px;
  }

.about {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }

.about__column {
  display: flex;
  flex-direction: column;
}

.about__logo {
  flex: 0 0 auto; 
  width: 300px;
  height: 300px; 
  justify-content: center;
  align-items: center;
}

.about__logo-container {
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
}

.about__content {
  flex: 1; 
}

.about__title {
  font-size: 24px;
  margin: 0;
  padding-top: 150px;
  padding-bottom: 20px; 
}

.about__text {
  margin: 0;
}

.about__text--first {
  margin-bottom: 20px;
}

.footer {
  display: flex;
  padding-top: ;
}